GOOGLE_SHEET_ID=你的試算表ID
GOOGLE_SERVICE_ACCOUNT={"type":"service_account","project_id":"...","private_key_id":"...","private_key":"-----BEGIN PRIVATE KEY-----\\n...\\n-----END PRIVATE KEY-----\\n","client_email":"...","token_uri":"https://oauth2.googleapis.com/token"}